body {
    background-color: rgb(61, 61, 61);
}

h2 {
    color: rgb(253, 253, 88);
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid grey;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
}